
:root {
--yellow: #ffcc33;
--blue: #006699;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.applet, .right-section {
    width: 40%;
    margin: 0 10px;
}

.right-section {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.accessible {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        left: -9999px;
        top: auto;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    width: 100%;
    display: inline;
    margin-bottom: 0;
    
}
.user-input {
    margin-bottom: 25px;
    width: 70%;
    background-color: gray;
    height: 27px;
    border-radius: 5px;
    border: 2px gray solid;
}

::placeholder {
    color: white;
    font-size: 110%;
}

.user-input:hover {
    cursor: pointer;
    background-color: var(--yellow);
    border-color: var(--yellow);
}

h3 {
    margin: 5px 0px;
}

.submitBtn  {
    background-color: var(--blue);
    width: 28%;
    height: 27px;
    border-radius: 5px;
    border: 2px solid var(--blue);
    text-decoration: none;
    color: white;
    
    padding: 2px;
}

.submitBtn:hover {
    background-color: black;
    border-color: black;
}

.review {
    font-size: 90%;
    background-color: rgb(207, 247, 207);
    border: darkgray;
    border-radius: 5px;
    padding: 0.05px 10px;
    
}

.span-bold {
    font-weight: 600;
    
}
.span-bold-review {
    font-weight: 600;
    font-size: larger;
}

            
